################################################################################
# Configure the einvironment:
################################################################################
#
################################################################################
# Should dbbackup log to syslog (TRUE | FALSE)
# Default is TURE

ENABLE_SYSLOG=TRUE

################################################################################
# Enable debugout
# Default is FALSE

ENABLE_DEBUG=TRUE

################################################################################
# Where to backup datafiles?

BACKUP_DIR=/home/backupuser/database_backups

################################################################################
# We need a tmpdir

TMP_DIR=/tmp/databases

################################################################################
# Which user is running dbbackup?

BACKUPUSER=backupuser

################################################################################
# Should a history of backuped files kept?

KEEP_BACKUP_FILES=TRUE

# How many days should these files kept?

BACKUP_FILES_DAYS=14

